<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="storage/img/icon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/abrigos.css">
    <title>E-Commerce</title>
</head>
<body>
    <section class="contenedor__Main">
        <aside class="aside">
            <div class="aside__title">
                <h1>Campus Shop</h1>
            </div>
            <section class="content">
                <div class="content__Arriba">
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div class="content__Todo">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/abrigos.html">Abrigos</a>
                    </div>
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/camisetas.html">Camisetas</a>
                    </div>
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/pantalones.html">Pantalones</a>
                    </div>
                </div>
            </section>
            <section class="carrito">
                <div class="carrito__text">
                    <img src="../storage/img/aside.png" alt="aside">
                    <a href="../views/carritos.html">Carritos</a>
                    <a class="tres" href="#">(3)</a>
                </div>
            </section>
            <section class="sello">
                <div class="sello__text">
                    <img src="../storage/img/copyright.png" alt="copyright">
                    <p>2024 Camper</p>
                </div>
            </section>
        </aside>
        <section class="main">
            <div class="main__title">
                <h1>Todos los productos</h1>
            </div>
            <section>
                <div class="main__images">
                    <div class="main__arriba">
                        <div class="main__img14">
                            <img src="../storage/img/abrigo1.webp" alt="abrigo1">
                            <div class="main__img14__texto">
                                <p>Abrigo 01</p>
                                <div class="main__img14__boton">
                                    <p>$1.000</p>
                                    <button>Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="main__img14">
                            <img src="../storage/img/abrigo2.webp" alt="abrigo2">
                            <div class="main__img14__texto">
                                <p>Abrigo 02</p>
                                <div class="main__img14__boton">
                                    <p>$2.000</p>
                                    <button>Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="main__img14">
                            <img src="../storage/img/abrigo3.webp" alt="abrigo3">
                            <div class="main__img14__texto">
                                <p>Abrigo 03</p>
                                <div class="main__img14__boton">
                                    <p>$2.500</p>
                                    <button>Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="main__img14">
                            <img src="../storage/img/abrigo4.webp" alt="abrigo4">
                            <div class="main__img14__texto">
                                <p>Abrigo 04</p>
                                <div class="main__img14__boton">
                                    <p>$2.000</p>
                                    <button>Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main__siguiente1">
                        <div class="main__img14">
                            <img src="../storage/img/abrigo5.webp" alt="abrigo5">
                            <div class="main__img14__texto">
                                <p>Abrigo 05</p>
                                <div class="main__img14__boton">
                                    <p>$2.000</p>
                                    <button>Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>
</html>