<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="storage/img/icon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/carritoVacio.css">
    <title>E-Commerce</title>
</head>
<body>
    <section class="contenedor__Main">
        <aside class="aside">
            <div class="aside__title">
                <h1>Campus Shop</h1>
            </div>
            <section class="content">
                <div class="content__Arriba">
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/abrigos.html">Abrigos</a>
                    </div>
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/camisetas.html">Camisetas</a>
                    </div>
                    <div class="content__text">
                        <img src="../storage/img/aside.png" alt="aside">
                        <a href="../views/pantalones.html">Pantalones</a>
                    </div>
                </div>
            </section>
            <section class="carrito">
                <div class="carrito__text">
                    <img src="../storage/img/aside.png" alt="aside">
                    <a href="../views/carritos.html">Carritos</a>
                    <a class="tres" href="#">(0)</a>
                </div>
            </section>
            <section class="sello">
                <div class="sello__text">
                    <img src="../storage/img/copyright.png" alt="copyright">
                    <p>2024 Camper</p>
                </div>
            </section>
        </aside>
        <section class="main">
            <div class="main__title">
                <h1>Carritos</h1>
            </div>
            <section>
                <div class="main__images">
                    <div class="main__arriba">
                        <h1>Tu carrito está vacío ㅤ(╥_╥)</h1>
                    </div>   
                </div>
            </section>
        </section>
    </section>
</body>
</html>